* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/*HEADER SECTION*/

header {
    background: #fff;
    border-bottom: 1px solid #dadbdd;
    position: fixed;
    display: flex;
    /* position: relative; */
    height: 75px;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 1;
    width: 100%;
}

.header-left {
    width: 20px;
    text-align: left;
    left: 15px;
    top: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 110px;
    margin-left: 15px;
}

.bars-icon {
    margin-left: 12px;
    margin-right: 214px;
}

.logo-img {
    width: 115px;
    height: 53px;
    margin-left: -69px;
}

.search-bar {
    min-width: 600px;
    /* width: 35%; */
    /* display: flex; */
}

.search-input {
    margin-left: 100px;
    background-color: #f1f1f1;
    height: 50px;
    width: 100%;
    font-size: 16px;
    border-radius: 30px;
    background-image: url('/Images/search-icon.png');
    background-size: 15px 15px;
    background-position: right 15px center;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    border: none;
    flex-grow: 1;
}

.search-input:active,
.search-input:focus {
    outline: none;
    border: none;
}

.actions-bar {
    display: flex;
    justify-content: space-around;
    margin-left: 190px;
    margin-right: 22px;
    min-width: 215px;
    align-items: center;
    color: #969696;
}

.profile {
    background: #f1f1f1;
    width: 190px;
    height: 75px;
    display: inline-block;
    display: flex;
    /* max-width: fit-content; */
    align-items: center;
}

.profile-text1 {
    padding: 18px 0px 0px 20px;
    text-transform: uppercase;
    color: #405189;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.profile-text2 {
    font-size: 12px;
    padding: 0px 0px 18px 0px;
    color: #777777;
}

.circle {
    margin-left: 15px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ffffff;
}

.profile-img {
    width: 40px;
    border-radius: 50%;
}

/*MAIN SECTION*/

.main {
    height: 965.36px;
    width: 100%;
    margin-top: 75px;
    padding: 30px 15px;
    background: #f3f3f9;
}

.links {
    display: flex;
    justify-content: space-evenly;
    font-size: 17px;
    color: #354781;
    font-weight: 600;
}

.imp-links {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 91.182px;
    width: 100%;
    background: #fff;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    margin-right: 22px;
    margin-bottom: 20px;
    margin-left: 15px;
    box-shadow: rgba(100, 98, 92, .06) 0 0 15px 4px;
}

.stu-fac {
    height: 91.182px;
    width: 100%;
    background: #fff;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    margin-right: 22px;
    margin-bottom: 20px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    box-shadow: rgba(100, 98, 92, .06) 0 0 15px 4px;
}

.anti-rag {
    height: 91.182px;
    width: 100%;
    background: #fff;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    margin-right: 22px;
    margin-bottom: 20px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    box-shadow: rgba(100, 98, 92, .06) 0 0 15px 4px;
}

.uni-email {
    height: 91.182px;
    width: 100%;
    background: #fff;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    margin-right: 22px;
    margin-bottom: 20px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    box-shadow: rgba(100, 98, 92, .06) 0 0 15px 4px;
}

.text1 {
    display: flex;
    flex-direction: column;
}

.text2 {
    display: flex;
    flex-direction: column;
}

.text3 {
    display: flex;
    flex-direction: column;
}

.text4 {
    display: flex;
    flex-direction: column;
}

.link {
    width: fit-content;
    font-weight: 200;
    text-decoration: none;
    font-size: 12px;
    border-bottom: 2px solid #ddd;
    color: #333;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 15px;
}

.logo1 {
    background: #e5f3fe;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo2 {
    background: #f0e9f1;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo3 {
    background: #f2f3ff;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo4 {
    background: #e5f3fe;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .toggle-btn {
    display: inline-block !important;
    width: 20px;
    position: absolute;
    text-align: left;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
} */
.basic {
    display: flex;
    justify-content: space-between;
}

.weather {
    background: #21517b;
    border-radius: 10px;
    line-height: 70px;
    margin-bottom: 20px;
    margin-left: 15px;
    height: 100px;
    width: 697.636px;
}

.virtual-id {
    background: #fff;
    padding: 10px 20px;
    box-shadow: rgba(100, 98, 92, .06) 0 0 15px 4px;
    border: 0;
    width: 700px;
    margin-bottom: 20px;
    margin-right: 22px;
    border-radius: 10px;
    display: flex;
    text-align: left;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    justify-content: space-between;
    color: #354781;
}

.download {
    background: #e5f3fe;
    padding: 10px 15px;
    border-radius: 10px;
}

.horizontal {
    display: flex;
}

.imp-msg {
    display: flex;
    flex-direction: column;
    width: 464.236px;
    height: 57.6px;
}

.msg {
    background: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 0px 20px 40px 20px;
    margin-left: 15px;
}

.mentor-details {
    padding: 0px 20px 20px 20px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.ques-queries {
    padding: 20px 20px;
    background: #fff;
    font-size: 16px;
    color: #354781;
    margin-left: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-weight: 600;
}

.queries {
    display: inline-block;
}

.mimp-text {
    padding: 20px 0px;
    font-size: 16px;
    font-weight: 600;
    color: #354781;
}

.mtext1 {
    font-family: Roboto;
    font-size: 13px;
    padding: 15px;
    border-radius: 10px;
    background: #f1f1f1;
    margin-bottom: 10px;
}

.mtext2 {
    font-family: Roboto;
    font-size: 13px;
    padding: 15px;
    border-radius: 10px;
    background: #f1f1f1;
}

.fa fa-user {
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    color: #354781;
    margin-right: 8px;
}

.men-det {
    padding: 20px 0px;
    font-size: 16px;
    font-weight: 600;
    color: #354781;
    display: inline-block;
}

.mtext3 {
    font-family: Roboto;
    font-size: 15px;
    /* padding: 0px 20px 20px 20px; */
}

.second-section {
    background: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 0px 20px 40px 20px;
    margin-left: 15px;
    width: 470px;
}

.course {
    padding: 20px 0px;
    font-size: 16px;
    font-weight: 600;
    color: #354781;
}

.heading {
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 10px;
}

/* .table {
    padding: 0px 20px 40px 20px;
    padding-top: 0;
    width: 444.236px;
    height: 260px;
} */

.events {
    background: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.title {
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #354781;
}

.etext {
    padding-bottom: 20px;
}

.job-alert {
    background: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.jtitle {
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #354781;
}

.announcements {
    background: #fff;
    border-radius: 10px;
    width: 444.236px;
    margin-bottom: 20px;
    height: 680px;
    width: 495px;
    margin-left: 15px;
}

.atitle {
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #354781;
}

.toggle-btn {
    display: inline-block !important;
    width: 20px;
    position: absolute;
    text-align: left;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* .mtext4 {
    border: 1px solid #ddd;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 20px;
}

.table1 {
    border-collapse: collapse;
    width: 100%;
} */
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: black;
}

tr:nth-child(even) {
    background-color: #ffffff;
    color: black;
    font-weight: 400;
}

/* Footer */

.footer {
    padding: 20px 0;
    background: #f3f3f9;
    margin-top: 0;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: flex-end;
}

.ftext {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    margin-right: 475px;
}

.bug {
    color: red;
    align-self: flex-end;
    font-size: 13px;
}

.hamburger-menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: black;
}